.navigation-links {
  text-align: center;
}

body {
  background-color: lightskyblue;
}

.photo-gallery {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-gap: 20px;
}

.photo-gallery img:hover {
  transform: scale(1.5);
}

img {
  width: 500px;
  height: 500px;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
}

p {
  padding: 10px;
  border-top: 5px;
  margin: 10px;
  background: #f5f2fe;
  border-radius: 6px;
  line-height: 2;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.about {
  font-family: Arial, Helvetica, sans-serif;
}

.text-center {
  padding-top: 20px;
  border-top: 20px;
  margin: 20px;
  text-align: center;
}
.email-link {
  padding-top: 20px;
  border-top: 20px;
  margin: 20px;
  text-align: center;
}

.viennariver-picture {
  width: 100%;
  border-radius: 10px;
}

footer {
  text-align: center;
  margin: 10px 0;
  font-size: 10px;
  font-style: italic;
}
