.navigation-links {
  text-align: center;
}

body {
  background-color: lightblue;
}
h1 {
  line-height: 1.5;
}

.hero {
  margin-top: 10px;
}
h2 {
  margin: 0;
}

.row img:hover {
  transform: scale(2);
}

p {
  padding: 10px;
  border-top: 5px;
  margin: 10px;
  background: #f5f2fe;
  border-radius: 6px;
  line-height: 2;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.about {
  font-family: Arial, Helvetica, sans-serif;
}

.text-center {
  padding-top: 20px;
  border-top: 20px;
  margin: 20px;
  text-align: center;
}
.email-link {
  padding-top: 20px;
  border-top: 20px;
  margin: 20px;
  text-align: center;
}
.social-links {
  font-size: 30px;
}

.viennariver-picture {
  width: 100%;
  border-radius: 10px;
}

footer {
  text-align: center;
  background-color: none;
  font-size: 10px;
  font-style: italic;
}

footer .text-center {
  text-align: center;
  margin: 10px 0;
  font-size: 10px;
  font-style: italic;
}

@media (max-width: 576px) {
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }

  h2 {
    font-size: 44px;
  }
  .content {
    text-align: center;
    padding: 0 10px;
  }
}
